* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(248, 249, 250);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* NAVIGATION */
.buttons {
  float: right;
  display: flex;
  position: static;
  padding-top: 10px;
}

nav img {
  height: 22px;
  opacity: 50%;
  cursor: pointer;
}

.navigate {
  padding: 3px;
}

.navigate:hover img,
.activepage img {
  opacity: 100%;
}

.printButton {
  cursor: pointer;
}

/* MAIN CLASSES */
.app {
  --bg-color-darc: #316037;
  --bg-color-light: buttonface;
  --font-darc: #316037;
  --font-light: #7c9970;
  --font-alert: #ee6262;
  --width: 828px;
  --width-head-coll: 270px;
  --width-data-coll: calc(var(--width) - var(--width-head-coll));
  text-align: center;
  margin: 10px;
  max-width: var(--width);
  width: 100%;
}

/* FILTERS */
.filter {
  width: 100%;
  text-decoration: none;
  color: var(--font-darc);
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: var(--bg-color-light);
}
.tag {
  text-decoration: none;
  color: var(--font-darc);
  text-align: center;
  margin: 3px;
  padding: 2px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg-color-light);
  cursor: pointer;
}
.selected {
  font-weight: bold;
  color: var(--font-alert);
}

/* Contact Information */
.cvTitle {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
}

.nameTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.fullName {
  font-size: 28px;
  line-height: 30px;
  color: var(--font-darc);
  clear: both;
}
.jobTitle {
  clear: both;
  font-size: 20px;
  line-height: 24px;
  color: var(--font-light);
}

.descriptionHolder {
  margin: 15px 5px;
}
.description {
  text-align: justify;
  clear: both;
  font-size: 16px;
  line-height: 20px;
  color: var(--font-darc);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  width: 270px;
  font-size: 14px;
}
.contactRow {
  display: flex;
  flex-direction: row;
}
.contactTitle {
  width: 100px;
  display: flex;
  font-weight: bold;
  justify-content: right;
  margin-right: 10px;
}
.contactValue {
  display: flex;
  justify-content: left;
  word-break: break-word;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border: 3px solid var(--bg-color-darc);
}
.contentRow {
  display: flex;
  flex-direction: row;
}
.contentCol {
  max-width: 100%;
  padding: 10px;
}
.colHead {
  flex: 1 var(--width-head-coll);
  font-size: 36px;
  line-height: 40px;
  clear: both;
  color: var(--font-light);
  background-color: var(--bg-color-darc);
}
.colBody {
  flex: 1 var(--width-data-coll);
  clear: both;
  margin-bottom: 20px;
}

.workPlace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.workEmployer {
  font-weight: bold;
  font-size: 14px;
  color: var(--font-darc);
}
.workJobTitle {
  font-weight: bold;
  font-size: 14px;
  color: var(--font-darc);
}
.workDuration {
  font-size: 12px;
  color: var(--font-darc);
}
.workDescription {
  text-align: justify;
  font-size: 13px;
  color: var(--font-darc);
}

.eduPlace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.eduInstitute {
  font-weight: bold;
  font-size: 14px;
  color: var(--font-darc);
}
.eduDate {
  font-size: 13px;
  color: var(--font-darc);
}
.eduDescription {
  font-weight: bold;
  font-size: 13px;
  color: var(--font-darc);
}

.projItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.projName {
  font-weight: bold;
  font-size: 14px;
  color: var(--font-darc);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.projDescription {
  text-align: justify;
  list-style-type: disc;
  margin-left: 10px;
  font-size: 13px;
  color: var(--font-darc);
}
.gitHub {
  width: 22px;
  height: 22px;
}

.collapsible {
  background-color: var(--font-darc);
  color: var(--font-light);
  border: 0;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="cvTitle"] {
    display: flex;
    flex-direction: column-reverse;
  }

  [class*="contentRow"] {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .printButton {
    display: none;
  }
}

@media print {
  .buttons,
  .collapsible {
    display: none;
  }

  .hidden {
    display: block;
  }
}
